@using Thinktecture.IdentityServer.Web.App_LocalResources.Account
@using System.Data;
@using Thinktecture.IdentityServer.Web.ViewModels;
@model AssignUserRolesModel
@{
    ViewBag.Title = "AssignUserRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Assign User Roles</h4>
<br />

<div style="width: 100%">


    <div>
        <div class="divLeft" style="min-height: 50px;">
            <b>User Role :  @Html.DisplayFor(m => m.UserRole)
                <br />
                Time      :  @Html.DisplayFor(m => m.Time)  </b>


        </div>
        <div class="divRight">           
        </div>
    </div>
    <div>
        <div class="divLeft" style="min-height: 50px;">
            @using (Ajax.BeginForm("AssignUserRolesPost", "Account", new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace
            }))
            {
                
                @Html.DropDownListFor(i => i.ValueField, new SelectList(Model.BindList, "ValueField", "TextField"), new { id = "ddlUsers", @size = 2, @Style = "Width:300px;min-height:300px;", onchange = "$(this.form).submit();" }) 
            }

        </div>
        <div class="divRight">
            <fieldset id="fieldView" style="border: 0;">
                @{
                    if (Model.RolesinUserTable != null && Model.RolesinUserTable.Count > 0)
                    {
                  
                    <table id="tblUserRoles" cellpadding="2px" rules="all" border="1" style="border-collapse: collapse; width: 900px">
                        <tr>
                            <th style="width: 30%">Application Name</th>
                            <th style="width: 20%">Role</th>

                        </tr>
                          @for (int i = 0; i < Model.RolesinUserTable.Count; i++)
                            {
                        <tbody id="tbTemplate">
                            <tr>
                                <td>@Model.RolesinUserTable[i].Application  </td>
                                <td>
                                    @foreach (var item in @Model.RolesinUserTable[i].Roles)
                                    {
                                        @item.Rolename <br />
                                    }
                                </td>
                            </tr>
                        </tbody>
                          }
                    </table>
                      
                    }
                    <br />
                    <input type="button" id="btnEditRoles" value="Edit Role(s)" class="bluebutton" />
                }
            </fieldset>

          

            <fieldset id="fieldEditView" style="border: 0;display:none">

                @{
                    if (Model.UserRolesTable != null && Model.UserRolesTable.Count > 0)
                    {                       
                        using (Ajax.BeginForm("AssignUserRoles", "Account", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "success",
                            OnFailure = "failure",
                            InsertionMode = System.Web.Mvc.Ajax.InsertionMode.Replace
                        }))
                        {
                      
                    
                    <table id="tblEditUserRoles" cellpadding="2px" rules="all" border="1" style="border-collapse: collapse; width: 900px">
                        <tr>
                            <th style="width: 30%">Application Name</th>
                            <th style="width: 20%">Role</th>

                        </tr>
                        <tbody id="tbTemplateEdit">
                            @for (int i = 0; i < Model.UserRolesTable.Count; i++)
                            {
                                <tr>
                                    <td>@Model.UserRolesTable[i].Application  </td>
                                    <td>
                                        @{
                                if (Model.UserRolesTable[i].Roles.Count > 0)
                                {
                                            @Html.ListBoxFor(
                                                                    model => model.SelectedRoles,
                                                                    new MultiSelectList(
                                                                        (@Model.UserRolesTable[i].Roles),
                                                                        "RoleId",
                                                                          "Rolename",
                                                                        @Model.SelectedRoles
                                                                    ), new { @Style = "width:100%;min-height:50px;" }
                                                                )
                                }
                                else
                                {
                                   @:No Role(s)
                                }
                                        }
                                    </td>
                                </tr>
                            }
                            <tr>
                        </tbody>
                    </table>
                  <div>
                         @ViewData["Result"]
                      </div>
                    <br />
                 
                    <input type="submit" id="btnSaveRoles" value="Assign Role(s)" class="bluebutton" /> 
                               
                        }
                         <div id="Result" class="divResult">
                                
                         </div>
                    }
                       
                }
            </fieldset>
            @{
               
                }
              </div>
    </div>

</div>

<style type="text/css">
    #tblUserRoles th, #tblEditUserRoles th
    {
        font-family: Arial, Helvetica, sans-serif, Verdana;
        font-size: 10pt;
        text-align: center;
    }

    #tblUserRoles tr td, #tblEditUserRoles tr td
    {
        padding-left: 5px;
    }

    .divLeft
    {
        float: left;
        width: 25%;
        padding: 2px;       
    }

    .divRight
    {
        width: 75%;
        min-height: 50px;
        padding: 2px;
        overflow: auto;        
    }

    .bluebutton
    {
        background: #293955;
        border: none;
        color: #BFDBFF;
        display: inline-block;
        font-weight: bold;       
        min-width: 40px;        
        text-decoration: none;
        text-align: center;
        width: 110px;
        border-radius: 7px;
    }

   

</style>

<script type="text/javascript">
    $(document).ready(function () {       
        $('#btnEditRoles').click(function () {           
            $('#fieldView').hide();
            $('#fieldEditView').show();            
        });
    });

    function success()
    {      
        $('#Result').text("Roles Updated Successfully");
    }

    function failure() {
        alert('failure');
    }

</script>


