@using Thinktecture.IdentityServer.Web.App_LocalResources.Account
@model Thinktecture.IdentityServer.Web.ViewModels.ResetPassword

@{
    ViewBag.Title = ResetPassword_cshtml.ResetPassword;   
    ViewBag.HideMenu = true;
   
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   
    <div class="divContent">
    <div class="divContent left">&nbsp;</div>
    <div class="divContent middle">
         @Html.ValidationSummary(true,ResetPassword_cshtml.UpdatePasswordUnsuccessful)
          <fieldset class="editor small signin">
        <legend></legend>
        <div class="divlogo">
                    <img src="~/Content/images/OSCid.png" />
                  </div>
               <table>
                <tr>
                    <td> @Html.LabelFor(m=>m.NewPassword)</td>
                    <td> @Html.PasswordFor(m=>m.NewPassword)</td>

                </tr>
                <tr>
                    <td></td>
                    <td><div id="lblnewpwd"  class="divResult"></div></td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m=>m.ConfirmPassword)</td>
                    <td> @Html.PasswordFor(m=>m.ConfirmPassword)</td>
                </tr>
                 <tr>
                    <td></td>
                    <td><div id="lblcnfpwd" class="divResult"></div></td>
                </tr>               
                <tr>
                    <td></td>
                    <td class="buttons">                         
                         <a  id="linkSubmit" onclick="updPwd();" class="cssbutton" >Update</a>  
                         @Html.ActionLink("Home", "index", "home", new{area=""}, new {@class="cssbutton"})                        
                        <img id="imgloader" src="~/Content/images/ajax-loader1.gif" class="cssimg" style="display:none;" />                     
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><div id="Result" class="divResult"></div></td>
                </tr>
                   </table>
         </fieldset>

        </div>
    <div class="divContent right">&nbsp;</div>
    </div>
}

@section scripts
{
<script type="text/javascript">
    function updPwd() {
        $('#lblnewpwd').text("");
        $('#lblcnfpwd').text("");

        var key = getParameterByName("Key");       
        var newPwd = $('#NewPassword').val();
        var cnfPwd = $('#ConfirmPassword').val();   
        
        var flag = true;
        if (newPwd == '')
        {
            flag = false;
            $('#lblnewpwd').text("New Password is required.");
        }
        if (cnfPwd=='')
        {
            flag = false;
            $('#lblcnfpwd').text("Confirm Password is required.");
        }
        if(flag && !CheckLength(newPwd)){
            flag = false;
            $("#lblnewpwd").text("Password requires minimum 6 characters.");
        }
        if (flag && newPwd!=cnfPwd)
        {
            flag = false;
            $('#lblcnfpwd').text("Confirm Password not matched.");
        }

        if (flag) {
            $('#imgloader').css("display", "block");
            $.ajax({
                type: "POST",                
                contentType: "application/json; charset=utf-8",
                url: "@Url.Content("~")Account/UpdatePassword",
                data: JSON.stringify({ "newPwd": newPwd, "userId": key }),
                dataType: "json",
                beforeSend: function () { },
                success: function (data) {
                    $("#Result").text("");
                    $('#imgloader').css("display", "none");
                    $("#Result").text(data);
                },
                error: function (msg, status) {                
                }

            });
        }
        
    }
</script>
    <script type="text/javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        function CheckLength(password) {
            if (password.length < 6)
                return false;
            else
                return true;
        }
    </script>

}